.grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 150px;
  // grid-column-gap: 10px;
}

.grid-two {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 100%;
  }
  .grid-two {
    grid-template-columns: 100%;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

// Layout
.text-center {
  text-align: center;
}
