// Header section
.header {
  .logo-container {
    justify-content: flex-start;
  }
}

// Hero
.hero {
  .slider {
    img {
      height: 45vh;
    }
  }
}

// Widget
.booking-widget {
  .form-group {
    display: flex;
    align-items: stretch;
    justify-content: center;
    .field {
      width: 50%;
      padding: 1rem 0.5rem;
    }
  }
}
