// Header section
.header {
  margin-top: 0;
  .logo-container {
    justify-content: flex-start;
    padding: 0 1rem;
  }
}

// Navigation
.navigation {
  display: flex;
}

.mobile-nav-toggle-container,
.mobile-nav-container {
  display: none;
}

// Hero
.hero {
  .slider {
    img {
      height: 45vh;
    }
  }
}

// Widget
.booking-widget {
  .form-group {
    display: flex;
    align-items: stretch;
    justify-content: center;
    .field {
      width: 50%;
      padding: 1rem 0.5rem;
    }
  }
}

// Home
.home {
  .page-title {
    font-size: 35px;
  }
}

// Rooms
.rooms {
  .all-rooms {
    flex-wrap: nowrap;
  }
}

// Single - Room
.single-room {
  .amenities-content {
    flex-wrap: nowrap;
    .amenity-single {
      width: 300px;
    }
  }
}
