// Global Section
a {
  text-decoration: none;
  color: $black;
}

// Header section
.header {
  .inner-header {
    max-width: 1500px;
    margin: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 100%;
    max-width: 300px;
  }
}

// Nav
.navigation {
  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    .nav-item {
      a {
        display: inline-block;
        padding: 0.75rem 1rem;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;
        &:hover {
          border-color: $black;
        }
      }
    }
  }
}
