// Global Section
body {
  font-family: $font;
  box-sizing: border-box;
  font-weight: 300;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  max-width: 100%;
}

.page-title {
  font-size: 30px;
  font-weight: 300;
}

.sub-title {
  text-align: center;
  margin: 1rem 0;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}
// Layout
.wrap {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

// Header section
.header {
  margin-top: 53px;
  border-bottom: 1px solid $black;
  .inner-header {
    max-width: 1500px;
    margin: auto;
    padding: 0.5rem 0;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 100%;
    max-width: 250px;
  }
  &.home {
    border-bottom: none;
  }
}

// Nav
.navigation {
  display: none;
  .menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .nav-item {
      a {
        display: inline-block;
        padding: 0.75rem 1rem;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;
        &:hover {
          border-bottom-color: $black;
        }
      }
    }
  }
}

.mobile-nav-toggle-container {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: $black;
  color: $white;
  z-index: 9999;
  border-bottom: 2px solid $primary;
  .mobile-nav-btn i {
    float: left;
    padding: 16px 20px;
    margin-left: -10px;
    position: relative;
    z-index: 20;
    line-height: 1em;
    cursor: pointer;
  }
  .mobile-nav-websiteName h3 {
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
  }
}
.mobile-nav-container {
  position: fixed;
  top: 0;
  left: -290px;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 290px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.mobile-nav-inner {
  background-color: $black;
  position: relative;
  left: -290px;
  margin-top: 50px;
  transition: all 0.3s ease-in-out;
  height: 100%;
  z-index: 999;
  .menu {
    padding: 0;
  }
  .nav-item {
    display: block;
    list-style: none;
    a {
      display: block;
      color: $white;
      text-transform: capitalize;
      background-color: rgba(250, 170, 42, 0.5);
      padding: 10px;
      border-bottom: 2px solid $black;
    }
  }
}

.mobile-show {
  left: 0;
}

// Hero
.hero {
  .slider {
    max-width: 100%;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .slick-next {
      right: 15px;
      z-index: 99;
    }
    .slick-prev {
      left: 15px;
      z-index: 99;
    }
  }
}

// Widget
.booking-widget {
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
  .form-group {
    .field {
      padding: 1rem 0.5rem;
      label {
        display: inline-block;
        padding-bottom: 5px;
      }
      input {
        width: 98%;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid $black;
        transition: all 0.3s ease-in-out;
        &:focus,
        &:active {
          outline: none;
          border-color: $primary;
        }
      }
    }
  }
  .submit {
    display: block;
    color: $white;
    background-color: $black;
    border: 2px solid $black;
    outline: none;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: transparent;
      color: $black;
      cursor: pointer;
    }
  }
}

// Home
.home {
  .page-title {
    text-align: center;
    margin: 3rem 0 1rem;
  }
  .widget-text {
    text-align: center;
  }
  .rooms {
    background-color: $darkBg;
    padding: 1rem;
    margin-top: 2rem;
    .sub-title {
      font-size: 28px;
    }
    .btn {
      text-transform: uppercase;
      font-size: 15px;
    }
    .suites {
      max-width: 1200px;
      margin: 1rem auto 0;
      .suite {
        padding: 0.5rem 1rem;
        img {
          max-width: 100%;
        }
        .suite-title {
          margin: 1rem 0;
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
  }
  .video {
    text-align: center;
    padding: 2rem;
  }
}

// Rooms
.rooms {
  .content {
    padding: 1rem;
  }
  .page-title {
    text-align: center;
    font-weight: bold;
  }
  .desc {
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }

  .all-rooms {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    .room {
      max-width: 550px;
      margin: 1rem;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      padding-bottom: 8px;
    }
    .room-image {
      max-height: 330px;
      object-fit: cover;
      width: 100%;
    }
    .room-btn {
      display: inline-block;
      border: 1px solid $primary;
      padding: 8px 2rem;
      transition: all 0.3s ease-in-out-;
      &:hover {
        background-color: lighten($primary, 20%);
      }
    }
  }
}

// Rooms - single
.single-room {
  text-align: center;
  .single-image {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
  }
  .single-title {
    text-transform: capitalize;
  }
  .single-details {
    text-align: left;
  }
  .amenities-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    .amenity-single {
      padding: 0.5rem 0;
      width: 100%;
      margin: 1rem;
      border: 2px solid $darkBg;
    }
  }
}

// Recent posts partial
.recent-posts {
  background-color: $darkBg;
  padding: 1rem;
  .posts {
    max-width: 1000px;
    margin: auto;
    .post {
      padding: 0.5rem 1rem;
      img {
        height: auto;
        width: 100%;
        max-height: 200px;
        object-fit: cover;
      }
      h3 {
        text-align: center;
      }
    }
  }
}

// Footer
.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 1rem 2rem;
  .top {
    border-bottom: 4px solid $darkBg;
    padding-bottom: 3rem;
    .btn {
      display: block;
      background-color: $black;
      color: $white;
      padding: 5px 4rem;
      border-radius: 5px;
      border: 2px solid $black;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      max-width: 300px;
      margin: auto;
      &:hover {
        background-color: transparent;
        color: $black;
        border-color: $primary;
      }
    }
  }
  .bottom {
    h3 {
      font-size: 25px;
      span {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          background-color: $black;
          height: 2px;
          width: 30px;
          bottom: -10px;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
    address {
      font-style: normal;
      margin-bottom: 1rem;
    }
  }
  .rooms & {
    border-top: 4px solid $darkBg;
  }
}
