// Global Section
body {
  font-family: $font;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black;
}

.sub-title {
  text-align: center;
  margin: 1rem 0;
  font-weight: 300;
}

// Header section
.header {
  .inner-header {
    max-width: 1500px;
    margin: auto;
    padding: 0.5rem 0;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 100%;
    max-width: 250px;
  }
}

// Nav
.navigation {
  .menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .nav-item {
      a {
        display: inline-block;
        padding: 0.75rem 1rem;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;
        &:hover {
          border-bottom-color: $black;
        }
      }
    }
  }
}

// Hero
.hero {
  .slider {
    max-width: 100%;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .slick-next {
      right: 15px;
      z-index: 99;
    }
    .slick-prev {
      left: 15px;
      z-index: 99;
    }
  }
}

// Widget
.booking-widget {
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
  .form-group {
    .field {
      padding: 1rem 0.5rem;
      label {
        display: inline-block;
        padding-bottom: 5px;
      }
      input {
        width: 95%;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid $black;
        transition: all 0.3s ease-in-out;
        &:focus,
        &:active {
          outline: none;
          border-color: $primary;
        }
      }
    }
  }
  .submit {
    display: block;
    color: $white;
    background-color: $black;
    border: 2px solid $black;
    outline: none;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: transparent;
      color: $black;
      cursor: pointer;
    }
  }
}
